# Log files

*.log
*.log.gz

crash-reports/
ct_dumps/
log/
logs/
replay_pid3128.log
hs_err_pid3128.log

# Mod files

*.jar
*.zip

.mixin.out/
coremods/
mods/

# User data

aes/
att-debug/
ESM/
exposures/
fancymenu_data/
local/
map_atlases/
modernfix/
resourcepacks/
server-resource-packs/
shaderpacks/
screenshots/
schematics/
simplebackups/
saves/

usercache.json
usernamecache.json
TrashSlotSaveState.json
bookmarks.ini
bookmark.ini

icon.png
servers.dat
servers.dat_old
rhino.local.properties
options.txt

# Readme files, example files

README.txt
scripts/examples/
example.js
example_block.png
example_item.png
